body {
    margin: 0;
    background-color: #000000;
    height: 729px;
}

.app {
    display: flex;
    background-color: #6943FF;
    width: 550px;
    height: 285px;
    color: white;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#converter-title{
    font-family: "Inter", sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: 28px;
    font-weight: bolder;
    height: 38px;
    width: 448px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#input-el {
    border: 3px solid #B295FF;
    border-radius: 5px;
    height: 83px;
    width: 117px;
    background: transparent;
    outline: none;
    text-align: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 58px;
    font-weight: bolder;
}

#convert-button {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    width: 117px;
    height: 42px;
    color: #3D3D3D;
    padding: 10px;
    font-size: 16px;
    font-weight: medium;
    cursor: pointer;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    height: 444px;
    width: 550px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    gap: 29px;
}

.card {
    width: 500px;
    height: 108px;
    background-color: white;
    text-align: center;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #5A537B;
}

.card-value {
    color: #353535;
    font-size: 14px;
    font-weight: 400;
}